@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundsection {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("/authBackground.svg");
  }