@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundsection {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("/authBackground.svg");
  }

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #27b5e8;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #198de5;
    border-radius: 100vh;
    border: 2px solid #ffffff73;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #18AFE6;
  }
}
